In [1]:
#11.1
from zoo import hours
hours()

Open 9-5 daily

In [2]:
#11.2
from zoo import hours as menagerie 
menagerie()

Open 9-5 daily

In [1]:
#16.8
from sqlalchemy import create_engine, MetaData, Table, select


engine = create_engine('sqlite:///books.db')
metadata = MetaData(bind=engine)
books_table = Table('books', metadata, autoload=True)


with engine.connect() as connection:
    query = select([books_table.c.title]).order_by(books_table.c.title)
    result = connection.execute(query)
    for row in result:
        print(row['title'])

ModuleNotFoundError: No module named 'sqlalchemy'